<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UserConnectionString" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=User;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TouristManagerConnectionString" connectionString="Data Source=pro5tm.database.windows.net;Initial Catalog=TouristManager;User ID=prabodha;Password=Manoranga13308"
      providerName="System.Data.SqlClient" />
    <add name="UserConnectionString2" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=User;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>