<?xml version="1.0"?>


<configuration>
  <connectionStrings>
    <add name="UserTourist" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UserTouristDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="thanujaConnectionString" connectionString="Data Source=thanuja.database.windows.net;Initial Catalog=thanuja;Persist Security Info=True;User ID=prabodha;Password=Manoranga13308@"
      providerName="System.Data.SqlClient" />
    <add name="pro5ConnectionString" connectionString="Data Source=server154.database.windows.net;Initial Catalog=pro5;Persist Security Info=True;User ID=server;Password=Shashika123"
      providerName="System.Data.SqlClient" />
   <add name="TouristManagerConnectionString" connectionString="Data Source=pro5tm.database.windows.net;Initial Catalog=TouristManager;Persist Security Info=True;User ID=Prabodha;Password=Manoranga13308"
      providerName="System.Data.SqlClient" />
    <add name="TouristManagerConnectionString2" connectionString="Data Source=HP-PC\SQLEXPRESS;Initial Catalog=TouristManager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnonobtrusivevalidationMode" value="None"/>
  </appSettings>
</configuration>